@import "../scss/utilities/colors";
@import "../scss/utilities/mixins";
@import "../scss/globals/resets";
@import "../scss/components/buttons";

//navbar
#navbar {
    @include flexible(flex, row, wrap, space-between, center);
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 1000;
    max-height: 100px;
    padding: 10px;

    .navbar__box__img {
        @include flexible(flex, row, wrap, flex-start, center);

        .navbar__img img {
            height: 80px;
            width: 80px;
            border-radius: 50%;
        }
    }
}

.menu__ul {
    @include flexible(flex, row, wrap, space-evenly, center);
    max-width: 70%;

    .menu__item {
        color: white;
        font-family: 'courgette';
        font-size: 2rem;
        transition: all 0.8s ease;
        padding: 30px;
    }
}

.menu__list :hover {
    background-color: red;
    padding: 8px;
    border-radius: 30px;
}

.navbar-toggler {
    margin-right: 20px;
}

.offcanvas-title {
    text-decoration: underline;
    font-family: 'Mr Dafoe', cursive;
    font-size: x-large;
    color: white;
    width: 100%;
    text-align: center;

    &:hover {
        color: gray;
        transition: all 0.8s ease;
        pointer-events: fill;
    }
}

.menu__item__offcanvas {
    color: white;
    font-size: 2rem;
    transition: all 0.8s ease;
    padding-bottom: 10px;

    &:hover {
        color: grey;
        transition: all 0.8s ease;
    }
}

.dropdown-item {
    color: black;
    font-size: medium;
    font-weight: bold;
}

//fin navbar
//inicio carousel
.carousel {
    padding-top: 100px;

    &-item {
        padding: 20px 40px;
        width: 100%;

        & img {
            max-height: 500px;
            max-width: 80%;
            margin: 0 auto;
        }
    }
}

.carousel-caption {
    background-color: $bg_carousel;
    margin-bottom: 20px;

    & h5 {
        text-decoration: underline;
        font-size: large;
    }
}

.carousel-caption p {
    color: white;
    font-size: medium;
}

.carousel-control-prev {
    margin-left: 120px;
}

.carousel-control-next {
    margin-right: 120px;
}

//fin carousel
//inicio seccion background "nosotros"
#Nosotros {
    @include flexible(flex, row, wrap, center, center);
    background-image: url(../img/galeria1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    background-clip: content-box;
    padding: 100px 60px;
    margin: 30px auto;
}

.background__img {
    @include flexible(flex, row, wrap, center, center);
    width: 100%;
}



.title-1 {
    @include flexible(flex, column, wrap, none, none);
    color: white;
    background-color: $bg_paragraph;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    padding: 20px;
}

.paragraph {
    @include flexible(flex, column, wrap, none, none);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    background-color: $bg_paragraph;
    text-align: center;
    padding: 20px;
    margin: 20px;
}

//fin seccion background "nosotros"
//inicio seccion discos
#discos {
    @include flexible(flex, row, wrap, center, center);
    align-content: center;
    background: $bg_discos;
    background-clip: content-box;
    padding: 20px 10px
}

.nuestros-trabajos {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    text-decoration: underline;
    padding: 30px;
    color: white;
    text-align: center;
    width: 100%;
}

.albums {
    @include flexible(flex, row, wrap, center, center);
    align-content: space-around;
    padding: 10px;
}

//fin seccion discos
//inicio seccion servicios
#article-box {
    @include flexible(flex, row, wrap, space-around, flex-start);
    margin-bottom: 50px;
    margin-top: 30px;
    padding: 50px 30px;
    background-image: url(../img/pngtree-white-vintage-brick-wall-literary-banner-image_149156.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.article {
    @include flexible(flex, row, wrap, space-around, center);
    max-width: 400px;

    & p {
        text-align: center;
        padding: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: medium;
    }
}

.imgservicios {
    width: 100%;
    height: 200px;
}

h3 {
    @include seccion_fonts(center, 100px, Cambria, 40px, underline, black, 100%)
}

//fin seccion servicios
//inicio seccion equipamiento


.wrapper {
    width: 90%;
    margin: 0 auto;
}

.cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 50px;
}

.col {
    width: calc(25% - 2rem);
    margin: 1rem;
    cursor: pointer;
}

.container {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.front,
.back {
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-position: center;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    min-height: 280px;
    height: auto;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5rem;
}

.back {
    background: #cedce7;
    background: -webkit-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
    background: -o-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
    background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);
}

.front:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
}

.container:hover .front,
.container:hover .back {
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner {
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
}

.container .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container .front {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container:hover .back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container:hover .front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.front .inner p {
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
}

.front .inner p:after {
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #C6D4DF;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
}

.front .inner span {
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Montserrat';
    font-weight: 300;
}

.t-equipo {
    color: white;
}


//fin seccion equipamiento
//icinio seccion galeria
#Galeria {
    @include seccion_fonts(center, 100px, Cambria, 40px, underline, black, 100%)
}

#Fotos {
    @include seccion_fonts(center, 100px, Cambria, 20px, underline, black, 100%)
}

.grid-container {
    display: grid;
    background-image: url(../img/141125859-fondo-de-textura-de-metal-negro.jpg);
    background-attachment: fixed;
    grid-template-columns: repeat (6, 1fr);
    grid-template-rows: repeat(8, 100px);
    border-color: $bg_grid;
    border-style: solid;
    padding: 10px;
    row-gap: 10px;
    column-gap: 10px;
    margin: 20px;
    width: 90%;
    margin: 0 auto;
}


#galeria__1 {
    grid-row: 1/3;
    grid-column: 1/3;
}

#galeria__2 {
    grid-row: 1/3;
    grid-column: 3/5;
}

#galeria__3 {
    grid-row: 1/3;
    grid-column: 5/7;
}

#galeria__4 {
    grid-row: 3/5;
    grid-column: 1/3;
}

#galeria__5 {
    grid-row: 3/5;
    grid-column: 3/5;
}

#galeria__6 {
    grid-row: 3/5;
    grid-column: 5/7;
}

#galeria__7 {
    grid-row: 5/7;
    grid-column: 1/3;
}

#galeria__8 {
    grid-row: 5/7;
    grid-column: 3/5;
}

#galeria__9 {
    grid-row: 5/7;
    grid-column: 5/7;
}

#galeria__10 {
    grid-row: 7/9;
    grid-column: 1/3;
}

#galeria__11 {
    grid-row: 7/9;
    grid-column: 3/5;
}

#galeria__12 {
    grid-row: 7/9;
    grid-column: 5/7;
}

.grid-item a {
    position: relative;
    overflow: hidden;
}

.grid-item :hover {
    filter: blur(4px);
    transition: all 0.5s;
}

.light-box {
    @include flexible(flex, row, nowrap, center, center);
    position: fixed;
    top: 0;
    left: 0;
    background: $bg_lightbox;
    width: 100%;
    height: 100vh;
    padding: 50px;
    z-index: 1000;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
}

.light-box img {
    width: 75vw;
    max-height: 100vh;
}

.light-box:target {
    transform: scale(1);
}

.close {
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    background-color: $bg_close;
    color: white;
    text-decoration: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 20px;
}

.next {
    display: block;
    background-color: $bg_next;
    color: white;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
}

#Videos {
    @include seccion_fonts(center, 100px, Cambria, 20px, underline, black, 100%)
}

.grid-container-video {
    display: grid;
    background-image: url(../img/141125859-fondo-de-textura-de-metal-negro.jpg);
    background-attachment: fixed;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 300px);
    border-color: rgb(118, 3, 24);
    border-style: solid;
    padding: 10px;
    row-gap: 10px;
    column-gap: 10px;
    margin: 20px;
    width: 90%;
    margin: 0 auto;
}

.grid-video6 {
    grid-row: 3 / 6;
    grid-column: 3 / 4;
}

.grid-video5 {
    grid-row: 3 / 6;
    grid-column: 2 / 3;
}

.grid-video4 {
    grid-row: 3 / 6;
    grid-column: 1 / 2;
}

.grid-video3 {
    grid-row: 1 / 3;
    grid-column: 3 / 4;
}

.grid-video2 {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
}

.grid-video1 {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

//fin seccion galeria
//inicio seccion contacto
.consulta {
    @include seccion_fonts(center, 100px, Cambria, 40px, underline, black, 100%);
}

.form__background {
    display: flex;
    background-image: url(../img/equipos5.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

#form {
    width: 450px;
    margin: auto;
    background-color: $bg_form;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

input,
textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 7px;
}

.nombre,
.email {
    color: white;
    font-weight: bold;
    font-family: 'courgette';
    font-size: medium;
}

.box-input p {
    color: white;
    font-weight: bold;
    font-family: 'courgette';
    font-size: medium;
}

.boton {
    background-color: $bg_enviar;
    color: white;
    font-weight: bold;
    font-size: medium;
}

.enviar :hover {
    background-color: $bg_enviar_hover;
    transition: all 0.8s ease;
}

.mapa {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 90px 30px 50px;
    align-content: center;
}

.direccion {
    @include flexible(flex, row, wrap, center, center);
    @include seccion_fonts (center, 20px, Cambria, small, none, grey, 200px);
    font-weight: bold;
    padding: 30px 400px;
    border-style: dotted;
}

//fin seccion contacto
//inicio seccion footer
#footer {
    background-image: url(../img/banner-background-foliage-autumn-concept-807056.jpg);
    @include flexible(flex, column, wrap, center, center);
    width: 100%;
    border-top: black solid;
}

.redes {
    @include flexible(flex, row, wrap, center, center);
    gap: 30px;
    padding: 30px;
}

i {
    font-size: 20px;
    color: white;
}

.Copyright {
    @include seccion_fonts(center, 20px, Cambria, medium, none, black, 100%);
    font-weight: bold;
}

.facebook {
    @include redes($bg_facebook, 5px, 30%);
}

.instagram {
    border-radius: 30%;
    padding: 5px;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.youtube {
    @include redes($gb_youtube, 5px, 30%);
}

//fin seccion footer
//media query

@media screen and (max-width:1078px) {
    .menu__list {
        display: none;
    }
    .cols{
        @include flexible (flex, column, wrap, center, center);
        width: 100%;
    }
    .col{
        width: 50%;
    }
}


@media screen and (max-width: 884px) {

    .light-box img {
        max-height: 400px;
        max-width: 700px;
    }

    .grid-video6 {
        display: none;
    }

    .grid-video5 {
        display: none;
    }

    .grid-video3 {
        display: none;
    }

    .grid-video1 {
        display: none;
    }

    .grid-video2 {
        grid-row: 1/3;
        grid-column: 1/4;
    }

    .grid-video4 {
        grid-row: 3/6;
        grid-column: 1/4;
    }

    .direccion {
        padding: 30px 50px;
    }
}

@media (max-width: 768px) {
    .offcanvas {
        flex-wrap: nowrap;
    }


    .offcanvas-end {
        flex-direction: column;
        max-width: 200px;
        overflow-y: auto;
    }

    .col {
        width: calc(50% - 2rem);
    }
}

@media screen and (max-width: 665px) {
    .grid-container {
        align-items: stretch;
        justify-items: center;
        height: 800px;
        img{
            width: 100%;
            height: 100%;
        }
    }

    .light-box img {
        max-height: 300px;
        max-width: 700px;
    }
}

@media screen and (max-width: 500px) {
    body {
        margin-top: 0;
    }

    .carousel {
        display: none;
    }

    #Nosotros {
        padding-left: 0;
        padding-right: 0;
    }

    .light-box img {
        max-height: 200px;
        max-width: 700px;
    }
}