$bg_carousel: rgba(0, 0, 0, 0.486);

$co_title1: rgb(0, 110, 15);

$bg_paragraph: rgba(0, 0, 0, 0.445);

$bg_discos: linear-gradient(#e66465, #9198e5, rgb(223, 74, 19));

$bg_grid: rgb(118, 3, 24);

$bg_lightbox: rgba(0, 0, 0, 0.335);

$bg_form:rgba(255, 166, 0, 0.122);

$bg_facebook:blue;

$gb_youtube: red;

